Data Preperation

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#read csv file directly from a remote repo without downloading it to your local machine

reviews = pd.read_csv('https://raw.githubusercontent.com/Manoj-A-Thomas/data/data/winemag-data_first150k.csv',
                      index_col = 0)

In [3]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150930 entries, 0 to 150929
Data columns (total 10 columns):
country        150925 non-null object
description    150930 non-null object
designation    105195 non-null object
points         150930 non-null int64
price          137235 non-null float64
province       150925 non-null object
region_1       125870 non-null object
region_2       60953 non-null object
variety        150930 non-null object
winery         150930 non-null object
dtypes: float64(1), int64(1), object(8)
memory usage: 12.7+ MB

Analyzing only columns: country, province, points, price

In [4]:
#Change column datatype, BUT don't commit it to the memory with inplace=True
reviews['points'].astype('float64')

0         96.0
1         96.0
2         96.0
3         96.0
4         95.0
5         95.0
6         95.0
7         95.0
8         95.0
9         95.0
10        95.0
11        95.0
12        95.0
13        95.0
14        95.0
15        95.0
16        95.0
17        95.0
18        95.0
19        95.0
20        95.0
21        95.0
22        95.0
23        95.0
24        95.0
25        94.0
26        94.0
27        94.0
28        94.0
29        94.0
          ...
150900    81.0
150901    81.0
150902    81.0
150903    81.0
150904    81.0
150905    80.0
150906    93.0
150907    92.0
150908    90.0
150909    89.0
150910    89.0
150911    87.0
150912    87.0
150913    94.0
150914    94.0
150915    93.0
150916    93.0
150917    92.0
150918    92.0
150919    91.0
150920    91.0
150921    91.0
150922    91.0
150923    91.0
150924    91.0
150925    91.0
150926    91.0
150927    91.0
150928    90.0
150929    90.0
Name: points, Length: 150930, dtype: float64

In [5]:
#Find missing values column
reviews[['country','province','points','price']].isnull().sum()

country         5
province        5
points          0
price       13695
dtype: int64

In [6]:
#Find all the missing values in the country and province columns
reviews[(reviews.country.isnull())|(reviews.province.isnull())]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>country</th>
      <th>description</th>
      <th>designation</th>
      <th>points</th>
      <th>price</th>
      <th>province</th>
      <th>region_1</th>
      <th>region_2</th>
      <th>variety</th>
      <th>winery</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1133</th>
      <td>NaN</td>
      <td>Delicate white flowers and a spin of lemon pee...</td>
      <td>Askitikos</td>
      <td>90</td>
      <td>17.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Assyrtiko</td>
      <td>Tsililis</td>
    </tr>
    <tr>
      <th>1440</th>
      <td>NaN</td>
      <td>A blend of 60% Syrah, 30% Cabernet Sauvignon a...</td>
      <td>Shah</td>
      <td>90</td>
      <td>30.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Red Blend</td>
      <td>Büyülübağ</td>
    </tr>
    <tr>
      <th>68226</th>
      <td>NaN</td>
      <td>From first sniff to last, the nose never makes...</td>
      <td>Piedra Feliz</td>
      <td>81</td>
      <td>15.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Pinot Noir</td>
      <td>Chilcas</td>
    </tr>
    <tr>
      <th>113016</th>
      <td>NaN</td>
      <td>From first sniff to last, the nose never makes...</td>
      <td>Piedra Feliz</td>
      <td>81</td>
      <td>15.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Pinot Noir</td>
      <td>Chilcas</td>
    </tr>
    <tr>
      <th>135696</th>
      <td>NaN</td>
      <td>From first sniff to last, the nose never makes...</td>
      <td>Piedra Feliz</td>
      <td>81</td>
      <td>15.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Pinot Noir</td>
      <td>Chilcas</td>
    </tr>
  </tbody>
</table>
</div>

In [7]:
#delete neglectable missing values from country and province if there is any
#commit the changes to memory

reviews.dropna(subset=['country','province'], inplace=True)

In [8]:
reviews.sample(10)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>country</th>
      <th>description</th>
      <th>designation</th>
      <th>points</th>
      <th>price</th>
      <th>province</th>
      <th>region_1</th>
      <th>region_2</th>
      <th>variety</th>
      <th>winery</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3751</th>
      <td>Austria</td>
      <td>While the nose of this Viennese field blend is...</td>
      <td>NaN</td>
      <td>91</td>
      <td>18.0</td>
      <td>Wiener Gemischter Satz</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>White Blend</td>
      <td>Wieninger</td>
    </tr>
    <tr>
      <th>33356</th>
      <td>US</td>
      <td>Extraordinarily sweet and attractive in raspbe...</td>
      <td>Bien Nacido Vineyard</td>
      <td>94</td>
      <td>55.0</td>
      <td>California</td>
      <td>Santa Maria Valley</td>
      <td>Central Coast</td>
      <td>Pinot Noir</td>
      <td>Gary Farrell</td>
    </tr>
    <tr>
      <th>5841</th>
      <td>US</td>
      <td>This dry wine smells and tastes vividly like b...</td>
      <td>Estate</td>
      <td>88</td>
      <td>55.0</td>
      <td>California</td>
      <td>Livermore Valley</td>
      <td>Central Coast</td>
      <td>Nebbiolo</td>
      <td>Las Positas</td>
    </tr>
    <tr>
      <th>37245</th>
      <td>US</td>
      <td>Lightly lemony, slightly waxy in the nose, wit...</td>
      <td>NaN</td>
      <td>87</td>
      <td>20.0</td>
      <td>Oregon</td>
      <td>Rogue Valley</td>
      <td>Southern Oregon</td>
      <td>Pinot Blanc</td>
      <td>Torii Mor</td>
    </tr>
    <tr>
      <th>25269</th>
      <td>Italy</td>
      <td>Grillo is a popular white variety planted in m...</td>
      <td>NaN</td>
      <td>87</td>
      <td>20.0</td>
      <td>Sicily &amp; Sardinia</td>
      <td>Sicilia</td>
      <td>NaN</td>
      <td>Grillo</td>
      <td>D'Alessandro</td>
    </tr>
    <tr>
      <th>49356</th>
      <td>US</td>
      <td>A distinctive bottle with notes of fresh herbs...</td>
      <td>NaN</td>
      <td>85</td>
      <td>16.0</td>
      <td>Oregon</td>
      <td>Oregon</td>
      <td>Oregon Other</td>
      <td>Pinot Noir</td>
      <td>Primarius</td>
    </tr>
    <tr>
      <th>127115</th>
      <td>Australia</td>
      <td>Melon and pineapple fruit flavors offer someth...</td>
      <td>NaN</td>
      <td>87</td>
      <td>14.0</td>
      <td>South Australia</td>
      <td>Adelaide</td>
      <td>NaN</td>
      <td>Viognier</td>
      <td>Shoofly</td>
    </tr>
    <tr>
      <th>123609</th>
      <td>Italy</td>
      <td>Here is a deeply saturated Chardonnay with a g...</td>
      <td>NaN</td>
      <td>90</td>
      <td>40.0</td>
      <td>Sicily &amp; Sardinia</td>
      <td>Sicilia</td>
      <td>NaN</td>
      <td>Chardonnay</td>
      <td>Planeta</td>
    </tr>
    <tr>
      <th>50091</th>
      <td>US</td>
      <td>This Bordeaux blend is soft and somewhat sweet...</td>
      <td>Mirepoix</td>
      <td>85</td>
      <td>30.0</td>
      <td>California</td>
      <td>Santa Cruz Mountains</td>
      <td>Central Coast</td>
      <td>Bordeaux-style Red Blend</td>
      <td>Fernwood</td>
    </tr>
    <tr>
      <th>4327</th>
      <td>France</td>
      <td>With 45% Mourvèdre and 35% Cinsault this has t...</td>
      <td>Cuvée G</td>
      <td>91</td>
      <td>21.0</td>
      <td>Provence</td>
      <td>Bandol</td>
      <td>NaN</td>
      <td>Rosé</td>
      <td>Les Vignobles Gueissard</td>
    </tr>
  </tbody>
</table>
</div>

In [9]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150925 entries, 0 to 150929
Data columns (total 10 columns):
country        150925 non-null object
description    150925 non-null object
designation    105190 non-null object
points         150925 non-null int64
price          137230 non-null float64
province       150925 non-null object
region_1       125870 non-null object
region_2       60953 non-null object
variety        150925 non-null object
winery         150925 non-null object
dtypes: float64(1), int64(1), object(8)
memory usage: 12.7+ MB

In [10]:
#find missing values for just region_1
reviews['region_1'].isnull().sum()

25055

In [11]:
#fill all the missing values with unknown using fillna() function and commit that to the memory
reviews['region_1'].fillna('unknown',inplace = True)

In [12]:
reviews.sample(10)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>country</th>
      <th>description</th>
      <th>designation</th>
      <th>points</th>
      <th>price</th>
      <th>province</th>
      <th>region_1</th>
      <th>region_2</th>
      <th>variety</th>
      <th>winery</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>62463</th>
      <td>France</td>
      <td>Mature already, displaying leather, earth and ...</td>
      <td>NaN</td>
      <td>85</td>
      <td>22.0</td>
      <td>Bordeaux</td>
      <td>Margaux</td>
      <td>NaN</td>
      <td>Bordeaux-style Red Blend</td>
      <td>Château Tricot d'Arsac</td>
    </tr>
    <tr>
      <th>136114</th>
      <td>Uruguay</td>
      <td>Jumbled and earthy on the nose, with a strong ...</td>
      <td>Reserve Oak Barrel</td>
      <td>83</td>
      <td>12.0</td>
      <td>Uruguay</td>
      <td>unknown</td>
      <td>NaN</td>
      <td>Tannat</td>
      <td>Don Adelio Ariano</td>
    </tr>
    <tr>
      <th>41377</th>
      <td>Italy</td>
      <td>Sweet jasmine and floral aromas make this Soav...</td>
      <td>Capitel al Pigno</td>
      <td>87</td>
      <td>12.0</td>
      <td>Veneto</td>
      <td>Soave Classico Superiore</td>
      <td>NaN</td>
      <td>Garganega</td>
      <td>Bixio</td>
    </tr>
    <tr>
      <th>71570</th>
      <td>Germany</td>
      <td>Smoky and leesy upfront, with powerful diesel ...</td>
      <td>Halbtrocken</td>
      <td>86</td>
      <td>18.0</td>
      <td>Nahe</td>
      <td>unknown</td>
      <td>NaN</td>
      <td>Riesling</td>
      <td>Schäfer-Fröhlich</td>
    </tr>
    <tr>
      <th>63061</th>
      <td>US</td>
      <td>Rich in flavor, although a little too soft and...</td>
      <td>Collusion</td>
      <td>84</td>
      <td>28.0</td>
      <td>California</td>
      <td>Paso Robles</td>
      <td>Central Coast</td>
      <td>Red Blend</td>
      <td>Clavo Cellars</td>
    </tr>
    <tr>
      <th>55589</th>
      <td>Italy</td>
      <td>Here's a blend of Montepulciano (75%) and Agli...</td>
      <td>Gironia</td>
      <td>89</td>
      <td>26.0</td>
      <td>Southern Italy</td>
      <td>Biferno Rosso</td>
      <td>NaN</td>
      <td>Red Blend</td>
      <td>Borgo di Colloredo</td>
    </tr>
    <tr>
      <th>43752</th>
      <td>US</td>
      <td>Clean, crisp and stony with aromas of rain on ...</td>
      <td>Happy Canyon Vineyard Blanc</td>
      <td>90</td>
      <td>36.0</td>
      <td>California</td>
      <td>Happy Canyon of Santa Barbara</td>
      <td>Central Coast</td>
      <td>Bordeaux-style White Blend</td>
      <td>Barrack</td>
    </tr>
    <tr>
      <th>124868</th>
      <td>Australia</td>
      <td>Starts off dark and a bit brooding, with aroma...</td>
      <td>The Laughing Magpie</td>
      <td>90</td>
      <td>29.0</td>
      <td>South Australia</td>
      <td>McLaren Vale</td>
      <td>NaN</td>
      <td>Shiraz-Viognier</td>
      <td>D'Arenberg</td>
    </tr>
    <tr>
      <th>92032</th>
      <td>US</td>
      <td>Rustic, with sweet-and-sour flavors of cherrie...</td>
      <td>NaN</td>
      <td>83</td>
      <td>12.0</td>
      <td>California</td>
      <td>Napa Valley</td>
      <td>Napa</td>
      <td>Red Blend</td>
      <td>Tractor Shed Red</td>
    </tr>
    <tr>
      <th>73954</th>
      <td>Portugal</td>
      <td>Ripe and full-bodied, with balanced acidity an...</td>
      <td>Special Reserve Ruby</td>
      <td>87</td>
      <td>NaN</td>
      <td>Port</td>
      <td>unknown</td>
      <td>NaN</td>
      <td>Port</td>
      <td>Andresen</td>
    </tr>
  </tbody>
</table>
</div>

In [13]:
#replace missing values for region_2 with replace(np.nan) function and commit that to the memory
reviews['region_2'].replace(np.nan,'unknown',inplace=True)

In [14]:
reviews.sample(10)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>country</th>
      <th>description</th>
      <th>designation</th>
      <th>points</th>
      <th>price</th>
      <th>province</th>
      <th>region_1</th>
      <th>region_2</th>
      <th>variety</th>
      <th>winery</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>92795</th>
      <td>Italy</td>
      <td>This ripasso delivers an interesting combinati...</td>
      <td>NaN</td>
      <td>88</td>
      <td>25.0</td>
      <td>Veneto</td>
      <td>Valpolicella Superiore Ripasso</td>
      <td>unknown</td>
      <td>Corvina, Rondinella, Molinara</td>
      <td>Novaia</td>
    </tr>
    <tr>
      <th>106574</th>
      <td>Portugal</td>
      <td>A simple fruity red wine, with spice, red-berr...</td>
      <td>Monte Alentejano Trincadeira and Aragonez</td>
      <td>85</td>
      <td>9.0</td>
      <td>Alentejano</td>
      <td>unknown</td>
      <td>unknown</td>
      <td>Portuguese Red</td>
      <td>DFJ Vinhos</td>
    </tr>
    <tr>
      <th>80542</th>
      <td>US</td>
      <td>Merry Edwards has figured out the magic trick ...</td>
      <td>Flax Vineyard Méthode a L'Ancienne</td>
      <td>96</td>
      <td>54.0</td>
      <td>California</td>
      <td>Russian River Valley</td>
      <td>Sonoma</td>
      <td>Pinot Noir</td>
      <td>Merry Edwards</td>
    </tr>
    <tr>
      <th>131210</th>
      <td>US</td>
      <td>Geyser Peak's Reserve Chards have been pretty ...</td>
      <td>Reserve</td>
      <td>88</td>
      <td>23.0</td>
      <td>California</td>
      <td>Alexander Valley</td>
      <td>Sonoma</td>
      <td>Chardonnay</td>
      <td>Geyser Peak</td>
    </tr>
    <tr>
      <th>107441</th>
      <td>US</td>
      <td>Dry enough, but the fruit has a baked, raisiny...</td>
      <td>White Hawk</td>
      <td>84</td>
      <td>48.0</td>
      <td>California</td>
      <td>Santa Barbara County</td>
      <td>Central Coast</td>
      <td>Syrah</td>
      <td>Damian Rae</td>
    </tr>
    <tr>
      <th>44873</th>
      <td>US</td>
      <td>Rich and creamy, this has a smooth, buttery mo...</td>
      <td>Lucia Highlands Vineyard</td>
      <td>91</td>
      <td>24.0</td>
      <td>California</td>
      <td>Santa Lucia Highlands</td>
      <td>Central Coast</td>
      <td>Chardonnay</td>
      <td>Pessagno</td>
    </tr>
    <tr>
      <th>10698</th>
      <td>US</td>
      <td>There's a fascinating presence of herb-roasted...</td>
      <td>Brosseau Vineyard</td>
      <td>91</td>
      <td>45.0</td>
      <td>California</td>
      <td>Chalone</td>
      <td>Central Coast</td>
      <td>Chardonnay</td>
      <td>Testarossa</td>
    </tr>
    <tr>
      <th>60580</th>
      <td>Italy</td>
      <td>Here's a sparkling wine with all its many face...</td>
      <td>Cuvée Brut</td>
      <td>92</td>
      <td>34.0</td>
      <td>Lombardy</td>
      <td>Franciacorta</td>
      <td>unknown</td>
      <td>Sparkling Blend</td>
      <td>Bellavista</td>
    </tr>
    <tr>
      <th>72848</th>
      <td>US</td>
      <td>Nicely crisp in acidity, this has a minerally ...</td>
      <td>Vintner's Selection</td>
      <td>86</td>
      <td>18.0</td>
      <td>California</td>
      <td>Santa Barbara County</td>
      <td>Central Coast</td>
      <td>Sauvignon Blanc</td>
      <td>Rock Hollow</td>
    </tr>
    <tr>
      <th>126592</th>
      <td>Italy</td>
      <td>This cheerful 60-40 blend of Chardonnay and Sa...</td>
      <td>Trappoline</td>
      <td>86</td>
      <td>15.0</td>
      <td>Tuscany</td>
      <td>Toscana</td>
      <td>unknown</td>
      <td>White Blend</td>
      <td>Badia a Coltibuono</td>
    </tr>
  </tbody>
</table>
</div>

In [15]:
# 
reviews.reset_index(drop=True, inplace=True)

In [16]:
reviews.sample(10)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>country</th>
      <th>description</th>
      <th>designation</th>
      <th>points</th>
      <th>price</th>
      <th>province</th>
      <th>region_1</th>
      <th>region_2</th>
      <th>variety</th>
      <th>winery</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>40477</th>
      <td>France</td>
      <td>There is a meaty feel to this wine, under the ...</td>
      <td>NaN</td>
      <td>88</td>
      <td>NaN</td>
      <td>Provence</td>
      <td>Côtes de Provence</td>
      <td>unknown</td>
      <td>Rosé</td>
      <td>Château Riotor</td>
    </tr>
    <tr>
      <th>48896</th>
      <td>Italy</td>
      <td>Here's an elegant and powerful wine from the d...</td>
      <td>NaN</td>
      <td>90</td>
      <td>NaN</td>
      <td>Southern Italy</td>
      <td>Aglianico del Vulture</td>
      <td>unknown</td>
      <td>Aglianico</td>
      <td>Macarico</td>
    </tr>
    <tr>
      <th>82838</th>
      <td>US</td>
      <td>Gets the job done with this dry, crisp everyda...</td>
      <td>NaN</td>
      <td>84</td>
      <td>10.0</td>
      <td>California</td>
      <td>Central Coast</td>
      <td>Central Coast</td>
      <td>Pinot Grigio</td>
      <td>Tamás Estates</td>
    </tr>
    <tr>
      <th>36988</th>
      <td>Argentina</td>
      <td>Rusty in color, with a mildly mulchy, leafy no...</td>
      <td>Alto Las Tacas</td>
      <td>84</td>
      <td>10.0</td>
      <td>Mendoza Province</td>
      <td>Mendoza</td>
      <td>unknown</td>
      <td>Malbec</td>
      <td>Bodega Vistandes</td>
    </tr>
    <tr>
      <th>107310</th>
      <td>US</td>
      <td>Steely, crisp and very dry, this Chard has a s...</td>
      <td>NaN</td>
      <td>89</td>
      <td>22.0</td>
      <td>California</td>
      <td>Mendocino County</td>
      <td>Mendocino/Lake Counties</td>
      <td>Chardonnay</td>
      <td>Zina Hyde Cunningham</td>
    </tr>
    <tr>
      <th>84404</th>
      <td>US</td>
      <td>This is a rich Pinot Gris. Tastes like it had ...</td>
      <td>Trenton Station</td>
      <td>88</td>
      <td>20.0</td>
      <td>California</td>
      <td>Russian River Valley</td>
      <td>Sonoma</td>
      <td>Pinot Gris</td>
      <td>Joseph Swan Vineyards</td>
    </tr>
    <tr>
      <th>135883</th>
      <td>Greece</td>
      <td>Fresh lemon and lime and a spray of minerals a...</td>
      <td>Estate</td>
      <td>84</td>
      <td>32.0</td>
      <td>Santorini</td>
      <td>unknown</td>
      <td>unknown</td>
      <td>Assyrtico</td>
      <td>Argyros</td>
    </tr>
    <tr>
      <th>104312</th>
      <td>US</td>
      <td>Fans of this variety will find something reall...</td>
      <td>NaN</td>
      <td>91</td>
      <td>22.0</td>
      <td>California</td>
      <td>El Dorado</td>
      <td>Sierra Foothills</td>
      <td>Petite Sirah</td>
      <td>Ursa</td>
    </tr>
    <tr>
      <th>137703</th>
      <td>US</td>
      <td>Tastes riper than Peachy's other '04 Zins, wit...</td>
      <td>Mustang Springs</td>
      <td>92</td>
      <td>30.0</td>
      <td>California</td>
      <td>Paso Robles</td>
      <td>Central Coast</td>
      <td>Zinfandel</td>
      <td>Peachy Canyon</td>
    </tr>
    <tr>
      <th>150229</th>
      <td>US</td>
      <td>Aromas of tobacco, dried flowers and earth seg...</td>
      <td>NaN</td>
      <td>88</td>
      <td>25.0</td>
      <td>New York</td>
      <td>The Hamptons, Long Island</td>
      <td>Long Island</td>
      <td>Cabernet Franc</td>
      <td>Wölffer</td>
    </tr>
  </tbody>
</table>
</div>

In [17]:
# Fix price
# reviews['price'].plot(kind='hist', bins=45)
reviews['price'].describe()

count    137230.000000
mean         33.132019
std          36.323072
min           4.000000
25%          16.000000
50%          24.000000
75%          40.000000
max        2300.000000
Name: price, dtype: float64

In [18]:
# reviews['price'].value_counts()

In [22]:
#Find how many wine are there that cost $40+
len(reviews[reviews['price'] > 40])

31317

In [23]:
len(reviews[reviews['price'] < 40])

101895

In [21]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150925 entries, 0 to 150924
Data columns (total 10 columns):
country        150925 non-null object
description    150925 non-null object
designation    105190 non-null object
points         150925 non-null int64
price          137230 non-null float64
province       150925 non-null object
region_1       150925 non-null object
region_2       150925 non-null object
variety        150925 non-null object
winery         150925 non-null object
dtypes: float64(1), int64(1), object(8)
memory usage: 11.5+ MB

In [24]:
# Remove wine > $40 and create a new df

reviews_price = reviews.loc[reviews['price'] < 40].copy()

In [25]:
reviews_price.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 101895 entries, 20 to 150924
Data columns (total 10 columns):
country        101895 non-null object
description    101895 non-null object
designation    66059 non-null object
points         101895 non-null int64
price          101895 non-null float64
province       101895 non-null object
region_1       101895 non-null object
region_2       101895 non-null object
variety        101895 non-null object
winery         101895 non-null object
dtypes: float64(1), int64(1), object(8)
memory usage: 8.6+ MB

In [29]:
#reseting index to make sure it starts and stops at the right index location 
# (20 to 150924 is NOT right)
reviews_price.reset_index(drop=True,inplace=True)

In [30]:
reviews_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101895 entries, 0 to 101894
Data columns (total 10 columns):
country        101895 non-null object
description    101895 non-null object
designation    66059 non-null object
points         101895 non-null int64
price          101895 non-null float64
province       101895 non-null object
region_1       101895 non-null object
region_2       101895 non-null object
variety        101895 non-null object
winery         101895 non-null object
dtypes: float64(1), int64(1), object(8)
memory usage: 7.8+ MB

In [36]:
reviews_price.province.is_unique

False

In [37]:
reviews_noDup = reviews_price.drop_duplicates()

In [38]:
reviews_noDup.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 65503 entries, 0 to 100751
Data columns (total 10 columns):
country        65503 non-null object
description    65503 non-null object
designation    42228 non-null object
points         65503 non-null int64
price          65503 non-null float64
province       65503 non-null object
region_1       65503 non-null object
region_2       65503 non-null object
variety        65503 non-null object
winery         65503 non-null object
dtypes: float64(1), int64(1), object(8)
memory usage: 5.5+ MB

In [39]:
reviews_noDup.reset_index(drop=True, inplace=True)

In [40]:
reviews_noDup.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65503 entries, 0 to 65502
Data columns (total 10 columns):
country        65503 non-null object
description    65503 non-null object
designation    42228 non-null object
points         65503 non-null int64
price          65503 non-null float64
province       65503 non-null object
region_1       65503 non-null object
region_2       65503 non-null object
variety        65503 non-null object
winery         65503 non-null object
dtypes: float64(1), int64(1), object(8)
memory usage: 5.0+ MB

In [45]:
# log scaling 
# reviews_noDup.var() #var()  is the variance 

reviews_noDup.loc[:,'price_log'] = np.log(reviews_noDup['price'])

C:\Users\knn21\PycharmProjects\Basics\venv\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [46]:
reviews_noDup[['points','price_log']].var()

points       7.620576
price_log    0.173753
dtype: float64