In [26]:
import pandas as pd

In [27]:
sol = pd.read_csv('data/2017-2018-school-test-by-test.csv')

In [28]:
sol.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19202 entries, 0 to 19201
Data columns (total 17 columns):
LEVEL                      19202 non-null object
Div Num                    19202 non-null int64
Div Name                   19202 non-null object
Sch Num                    19202 non-null int64
Sch Name                   19202 non-null object
Sch Type                   19202 non-null object
Low Grade                  19202 non-null object
High Grade                 19202 non-null int64
Subject                    19202 non-null object
Grade                      19202 non-null object
Test                       19202 non-null object
2015-2016 Pass Rate        18386 non-null object
2016-2017 Pass Rate        18305 non-null object
2017-2018 Pass Rate        18340 non-null object
2015-2016 Adv Pass Rate    18386 non-null object
2016-2017 Adv Pass Rate    18305 non-null object
2017-2018 Adv Pass Rate    18340 non-null object
dtypes: int64(3), object(14)
memory usage: 2.5+ MB

In [29]:
sol.shape

(19202, 17)

In [30]:
sol.dtypes
sol = sol.rename(columns={'2017-2018 Adv Pass Rate':'2017-2018AdvPassRate'})

In [31]:
sol.dtypes

LEVEL                      object
Div Num                     int64
Div Name                   object
Sch Num                     int64
Sch Name                   object
Sch Type                   object
Low Grade                  object
High Grade                  int64
Subject                    object
Grade                      object
Test                       object
2015-2016 Pass Rate        object
2016-2017 Pass Rate        object
2017-2018 Pass Rate        object
2015-2016 Adv Pass Rate    object
2016-2017 Adv Pass Rate    object
2017-2018AdvPassRate       object
dtype: object

In [32]:
sol.describe()

            Div Num       Sch Num    High Grade
count  19202.000000  19202.000000  19202.000000
mean      68.054890    573.071659      7.418446
std       41.673612    559.438653      2.739367
min        1.000000     10.000000      3.000000
25%       29.000000    190.000000      5.000000
50%       68.000000    440.000000      6.000000
75%      108.000000    780.000000      8.000000
max      207.000000   9020.000000     12.000000

In [33]:
print(sol.head())

  LEVEL  Div Num          Div Name  Sch Num               Sch Name Sch Type  \
0   SCH        1  Accomack County       701  Accawmacke Elementary     Elem
1   SCH        1  Accomack County       701  Accawmacke Elementary     Elem
2   SCH        1  Accomack County       701  Accawmacke Elementary     Elem
3   SCH        1  Accomack County       701  Accawmacke Elementary     Elem
4   SCH        1  Accomack County       701  Accawmacke Elementary     Elem

  Low Grade  High Grade                      Subject             Grade  \
0        PK           5             English: Reading              Gr 3
1        PK           5             English: Reading              Gr 4
2        PK           5             English: Reading              Gr 5
3        PK           5  History and Social Sciences              Gr 5
4        PK           5  History and Social Sciences  Content Specific

              Test 2015-2016 Pass Rate 2016-2017 Pass Rate  \
0  English Reading                  72                  70
1  English Reading                  61                  73
2  English Reading                  71                  67
3          History                   <                   <
4       VA Studies                  88                  85

  2017-2018 Pass Rate 2015-2016 Adv Pass Rate 2016-2017 Adv Pass Rate  \
0                  71                      13                      17
1                  64                      12                      10
2                  65                      20                      15
3                   <                       <                       <
4                  83                      43                      29

  2017-2018AdvPassRate
0                   12
1                   14
2                   13
3                    <
4                   28

In [34]:
print(sol.tail())

      LEVEL  Div Num      Div Name  Sch Num         Sch Name Sch Type  \
19197   SCH       98  York County        60  Yorktown Middle   Middle
19198   SCH       98  York County        60  Yorktown Middle   Middle
19199   SCH       98  York County        60  Yorktown Middle   Middle
19200   SCH       98  York County        60  Yorktown Middle   Middle
19201   SCH       98  York County        60  Yorktown Middle   Middle

      Low Grade  High Grade      Subject          Grade         Test  \
19197         6           8  Mathematics           Gr 7  Mathematics
19198         6           8  Mathematics           Gr 8  Mathematics
19199         6           8  Mathematics  End of Course    Algebra I
19200         6           8  Mathematics  End of Course     Geometry
19201         6           8      Science           Gr 8      Science

      2015-2016 Pass Rate 2016-2017 Pass Rate 2017-2018 Pass Rate  \
19197                  78                  80                  76
19198                  80                  77                  79
19199                  93                  95                  96
19200                 100                 100                 100
19201                  84                  85                  87

      2015-2016 Adv Pass Rate 2016-2017 Adv Pass Rate 2017-2018AdvPassRate
19197                       7                      10                    8
19198                       5                       4                    2
19199                       8                       3                    6
19200                      25                      24                   22
19201                       8                      12                    9

In [35]:
print(sol.isnull().sum())

LEVEL                        0
Div Num                      0
Div Name                     0
Sch Num                      0
Sch Name                     0
Sch Type                     0
Low Grade                    0
High Grade                   0
Subject                      0
Grade                        0
Test                         0
2015-2016 Pass Rate        816
2016-2017 Pass Rate        897
2017-2018 Pass Rate        862
2015-2016 Adv Pass Rate    816
2016-2017 Adv Pass Rate    897
2017-2018AdvPassRate       862
dtype: int64

In [36]:
print(sol.notnull().sum())

LEVEL                      19202
Div Num                    19202
Div Name                   19202
Sch Num                    19202
Sch Name                   19202
Sch Type                   19202
Low Grade                  19202
High Grade                 19202
Subject                    19202
Grade                      19202
Test                       19202
2015-2016 Pass Rate        18386
2016-2017 Pass Rate        18305
2017-2018 Pass Rate        18340
2015-2016 Adv Pass Rate    18386
2016-2017 Adv Pass Rate    18305
2017-2018AdvPassRate       18340
dtype: int64

In [37]:
sol = sol.rename(columns={'Div Num':'DivNum'})

In [38]:
sol = sol.rename(columns={'Div Name':'DivName'})

OR sol = sol.rename(columns={'Div Num':'DivNum', 'Div Name':'Div Name'})

In [39]:
sol.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19202 entries, 0 to 19201
Data columns (total 17 columns):
LEVEL                      19202 non-null object
DivNum                     19202 non-null int64
DivName                    19202 non-null object
Sch Num                    19202 non-null int64
Sch Name                   19202 non-null object
Sch Type                   19202 non-null object
Low Grade                  19202 non-null object
High Grade                 19202 non-null int64
Subject                    19202 non-null object
Grade                      19202 non-null object
Test                       19202 non-null object
2015-2016 Pass Rate        18386 non-null object
2016-2017 Pass Rate        18305 non-null object
2017-2018 Pass Rate        18340 non-null object
2015-2016 Adv Pass Rate    18386 non-null object
2016-2017 Adv Pass Rate    18305 non-null object
2017-2018AdvPassRate       18340 non-null object
dtypes: int64(3), object(14)
memory usage: 2.5+ MB

In [40]:
print(sol.sample((5)))

      LEVEL  DivNum                 DivName  Sch Num  \
2742    SCH     136        Chesapeake City        10
16493   SCH      88    Spotsylvania County       370
15472   SCH      82      Rockingham County      1071
12185   SCH      66  Northumberland County        40
10292   SCH      53         Loudoun County        90

                       Sch Name Sch Type Low Grade  High Grade  \
2742         Oscar Smith Middle   Middle         6           8
16493         Spotsylvania High     High         9          12
15472  John C. Myers Elementary     Elem        PK           5
12185       Northumberland High     High         9          12
10292      Smart's Mill Middle    Middle         6           8

                Subject          Grade             Test 2015-2016 Pass Rate  \
2742   English: Reading           Gr 6  English Reading                  65
16493       Mathematics  End of Course         Geometry                  73
15472  English: Reading           Gr 3  English Reading                  81
12185  English: Reading  End of Course  English Reading                  78
10292       Mathematics  End of Course       Algebra II                 NaN

      2016-2017 Pass Rate 2017-2018 Pass Rate 2015-2016 Adv Pass Rate  \
2742                   61                  66                      10
16493                  67                  56                       3
15472                  69                  63                      18
12185                  84                  81                       2
10292                 100                 100                     NaN

      2016-2017 Adv Pass Rate 2017-2018AdvPassRate
2742                        8                    6
16493                       0                    2
15472                      23                   11
12185                       2                    4
10292                      67                   33

Use SQUARE BRACKETS to reference the COLUME NAME Test

In [41]:
sol['Test'].unique()

array(['English Reading', 'History', 'VA Studies', 'Mathematics',
       'Science', 'Writing', 'Geography', 'VA & US History',
       'World History I', 'World History II', 'Algebra I', 'Algebra II',
       'Geometry', 'Biology', 'Chemistry', 'Earth Science',
       'Civics & Econ'], dtype=object)

In [42]:
sol['Test'].value_counts()

English Reading     5104
Mathematics         5024
Science             1506
VA Studies          1113
History             1095
Writing              732
Algebra I            711
Geometry             635
Earth Science        460
Algebra II           435
Civics & Econ        401
World History I      384
Biology              357
VA & US History      329
Chemistry            326
World History II     316
Geography            274
Name: Test, dtype: int64

In [43]:
sol['High Grade'].unique()

array([ 5, 12,  8,  7,  4,  6,  3,  9], dtype=int64)

In [44]:
sol['High Grade'].value_counts()

5     7747
8     4469
12    4310
6     1836
7      594
4      174
3       46
9       26
Name: High Grade, dtype: int64

In [45]:
mapping = {'English Reading':0, 
           'Mathematics':1, 
           'Science': 2, 
           'VA Studies': 3, 
           'History':4, 
           'Writing': 5, 
           'Algebra I':6, 
           'Geometry': 7, 
           'Earth Science': 8, 
           'Algebra II':9, 
           'Civics & Econ': 10, 
           'World History I': 11, 
           'Biology': 12, 
           'VA & US History': 13, 
           'Chemistry':14, 
           'World History II':15, 
           'Geography':16}

In [46]:
sol['Test'] = sol.Test.map(mapping)

In [47]:
sol['Test'].unique()

array([ 0,  4,  3,  1,  2,  5, 16, 13, 11, 15,  6,  9,  7, 12, 14,  8, 10],
      dtype=int64)

In [48]:
sol['Test'].value_counts()

0     5104
1     5024
2     1506
3     1113
4     1095
5      732
6      711
7      635
8      460
9      435
10     401
11     384
12     357
13     329
14     326
15     316
16     274
Name: Test, dtype: int64

In [49]:
import matplotlib.pyplot as plt

In [50]:
sol['Test'] = sol['Test'].astype(int)

In [54]:
sol['Test'].plot(kind="hist")
plt.show()